<div class="container">
	<!-- <div class="row">
	</div> -->
	
	<nav class="navbar navbar-expand-sm  bg-warning">
        <a class="navbar-brand" href="#">NG Basic Concepts </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <!-- <button type="button" class="btn btn-primary">Primary</button> -->
        <!-- <button type="button" class="btn btn-secondary">Secondary</button> -->

        <div class=" navbar-nav ml-auto" id="navbarSupportedContent">

            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Component Comms
                </button>

                <div class="dropdown-menu">
                    <a routerLink="/child-up" routerLinkActive="active" type="button" class="dropdown-item">Child to Parent output</a>
                    <a routerLink="/parent-down" routerLinkActive="active" type="button" class="dropdown-item">Parent to Child input </a>

                    <a routerLink="/parent-viewchild" routerLinkActive="active" type="button" class="dropdown-item">Child to Parent  ViewChild</a>
                
                    <a routerLink="/child-to-child" routerLinkActive="active" type="button" class="dropdown-item">Child to Child Service </a> 

                    <a routerLink="/news" routerLinkActive="active" type="button" class="dropdown-item">get data from Service </a>
                    
                </div>
            </div><!-- END .btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Directives & Pipes
                </button>

                <div class="dropdown-menu">
                    <a routerLink="/directive-example" routerLinkActive="active" type="button" class="dropdown-item">Custom Directive to change DOM elements/ attributes/ appearence  </a>
  
                    <a routerLink="/pipe-examples1" routerLinkActive="active" type="button" class="dropdown-item">Built in "Pipes" to alter properties  </a>

                </div>
            </div><!-- END .btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Forms
                </button>

                <div class="dropdown-menu">
               
                    <a routerLink="/forms" routerLinkActive="active" type="button" class="dropdown-item">Reactive Forms  </a>
                    <a routerLink="/multi-step-form" routerLinkActive="active" type="button" class="dropdown-item">Multi Step Form  </a>

                </div>
            </div><!-- END .btn-group -->
        </div>

    </nav>
</div>

