<form [formGroup]="bioSection" (ngSubmit)="callingFunction()">
  <h3>Bio Details - Validators Broken - still a work in progress </h3>

<label>
  First Name:
  <input type="text" formControlName="firstName">
</label> <br>
<label>
  Last Name:
  <input type="text" formControlName="lastName">
</label> <br>

<label>
  Email:
  <input type="text" formControlName="email">
</label> <br>

<div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
  <div *ngIf="f.email.errors.required">Username is required.</div>
  <div *ngIf="f.email.errors.minlength">Username should be 3 character.</div>
  <div *ngIf="f.email.errors.cannotContainSpace">Username can not contain space.</div>
</div>


<label>
  Age:
  <input type="text" formControlName="age">
</label>
<div formGroupName="stackDetails">
  <h3>Stack Details</h3>

  <label>
    Stack:
    <input type="text" formControlName="stack">
  </label> <br>

  <label>
    Experience:
    <input type="text" formControlName="experience">
  </label>
</div>
<div formGroupName="address">
  <h3>Address</h3>

  <label>
    Country:
    <input type="text" formControlName="country">
  </label> <br>

  <label>
    City:
    <input type="text" formControlName="city">
  </label>
</div>
<button type="submit" [disabled]="!bioSection.valid">Submit Application</button>
<p>
  Real-time data: {{ bioSection.value | json }}
</p>
<p>
  Your form status is : {{ bioSection.status }}
</p>
</form>
